* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.title p {
  font-size: 50px;
}

.title p:nth-child(2) {
  margin-top: -10px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.card-item .text {
  margin-left: 20px;
}
